body{
	
	background-image: url("Imagenes/fondooo4.png");
  background-repeat: repeat;
  background-position: 50px;
	
	font-size:30px;}

	header, .main, footer{
	
	width:50%;
	max-width:1000px;
	margin:50px auto;

}

div {
	width:75%;
	height:400px;
	
	margin:20px 50px;
	padding:30px;
  background-color:#9EBFCB;
  border-style: outset;
  border-width:10px;
}

h1{
	font-weight:bolder;
    text-align:center;
    font-family:"Arial";
    text-shadow: #555 2px 2px 3px;
	color:#855DBF;
}
p {
	font-family:"Arial";
	font-size:20px;
	color:#ffff;
	text-align: justify;
	line-height: 30px;
	text-align:center;
	text-shadow: #555 2px 2px 3px;

}
h3{
	font-weight:bolder;
    text-align:center;
    font-family:"Arial";
    text-shadow: #555 2px 2px 3px;
	color:#855DBF;
}
	h4{
	font-weight:bolder;
    text-align:center;
    font-family:"Arial";
    text-shadow: #555 2px 2px 3px;
	color:#855DBF;
}
h5{
	font-weight:bolder;
    text-align:center;
    font-family:"Arial";
    text-shadow: #555 2px 2px 3px;
	color:#855DBF;
	}
